<h1>Welcome to Photogur</h1>
<p>If you're new click register to register for an account! If you are an existing user click login to login to your image board.</p>
<%= link_to 'Register', register_path%>
<%= link_to 'Login', login_path%>
